/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body, h1, h2, h3, h4, h5, div, main, form {
  text-align: center;
  margin: 0px auto;
  font-family: 'Dosis', sans-serif;
  content: 'optimizeLegibility' !important;
  -webkit-font-smoothing: antialiased;
}

li.name {
  padding-left: 10px;
}

header.profile-header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #6699CC;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 0px 0px 10px 10px;
}

header.profile-header img {
  border: 3px solid #fff;
  border-radius: 5px 5px 5px 5px;
}

header.profile-header h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

header.profile-header h2 {
  text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  font-size: 25px;
  color: white;

}

form {
  max-width: 300px;
  padding-top: 40px;
}

input {
  border-radius: 5px 5px 5px 5px;
}

form h2 {
  padding-top: 20px;
}

form ul {
  border: 2px solid #e1e8ed;
  border-radius: 5px 5px 5px 5px;
  padding: 25px;
  background: white;
}

input.button.expand {
  border-radius: 5px 5px 5px 5px;
}

form.button_to {
  padding-top: 0;
}

header.profile-header img {
  border: 0px;
}






