form {
  max-width: 300px;
  padding-top: 40px;
}

form h2 {
  padding-top: 20px;
}

form ul {
  border: 2px solid #e1e8ed;
  border-radius: 5px 5px 5px 5px;
  padding: 25px;
  background: white;
}

form.button_to {
  padding-top: 0;
}