body.home {
  background-image: url(http://1.bp.blogspot.com/-nor4T0x1o6Y/UUb2-VvwcUI/AAAAAAAAF5o/T0ZWP9MYSS4/s1600/loud-music.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1.homepage-title {
}

body.home h1, 
body.home h2 {
 font-family: 'Dosis', sans-serif;
 color: white;
}

body.home h1 {
  text-shadow: 10px 4px 6px rgba(0,0,0,0.5);
  font-size: 125px;
  font-weight: 700;
  margin: 90px auto 0;
}

body.home h2 {
  text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  font-size: 20px;
  margin: -30px auto 0;
}

body.home .search {
  margin: 0 auto;
  max-width: 300px;
  clear: both;
  overflow: hidden;
  margin: 5px auto;
  padding-bottom: 10px;
}

body.home .search input[type="text"] {
  width: 200px;
  margin: 0;
  float: left;
  border-radius: 3px 0 0 3px;
  height: 32.25px;
}

body.home .search input[type="submit"] {
  background-color: #339933;
  width: 100px;
  margin: 0;
  float: left;
  border-radius: 0 3px 3px 0;
  font-weight: 700;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

div.social-network img {
  padding-top: 10px;
  padding-bottom: 5px;
}

 h3.homepage-signin {
  margin: 0 auto;    
  color: black;
  font-size: 18px;
  left: 730px;
  top: 290px;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

h3.homepage-signin a {
  color: white
}

 h3.homepage-register {
  margin: 0 auto;   
  color: black;
  font-size: 18px;
  left: 815px;
  top: 290px;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

h3.homepage-register a {
  color: white;
}

.homepage-logo {
  z-index: 100;
  position: absolute;    
  color: white;
  font-size: 30px;
  font-weight: bold;
  left: 700px;
  top: 90px;
}

form#user_search {
  padding-top: 0px;
  height: 10px;
}
