li.name {
  padding-left: 10px;
}

header.profile-header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #006699;
  color: white;
}

header.profile-header img {
  border: 3px solid #fff;
  border-radius: 5px 5px 5px 5px;
}

header.profile-header h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

header.profile-header h2 {
  text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
  font-size: 25px;
  color: white;

}


header.profile-header img {
  border: 0px;
}