#tag_cloud {
  margin: 0 auto;
  width: 700px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#tag_cloud {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tag_cloud h2 {
  font-size: 25px;
}