header {
  border-bottom: 2px solid rgba(0,0,0,0.05);
  font-family: 'Dosis', sans-serif;
  background: #fff;
}

header .top-bar-section ul li > a {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: #66757f;
}

header .top-bar-section ul li:hover a:hover {
  color: #66757f;
}

header .top-bar input {
  border-radius: 5px;
  width: 170px; 
}


header .top-bar ul.right li:first-child {
  color: white;
  font-size: 12px;
}

header .top-bar ul.right li:first-child img {
  margin-top: -2px;
  border-radius: 3px;
  border: 2px solid #fff;
}

header .top-bar ul.right li:first-child a:hover > img {
  border: 2px solid #6699CC;
}
